Django
django-extensions
werkzeug
sorl-thumbnail
Pillow
gitpython
django-widget-tweaks
python_slugify==1.2.4
django-simple-captcha
selenium==2.44
django-crispy-forms==1.7.2
django-jsonview
liqpay-python
git+https://github.com/liqpay/sdk-python#egg=liqpay
django-uploader
django-ckeditor