{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load thumbnail %}
{% load testimonials %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Detail information</h1>
    <div class="row">
        
        <div class="col-md-8">
          <h2>{{ pizza }}</h2>
            <div class="row">
           
            </div>

        </div>
        <div class="col-md-4">
            <h2>Order.</h2>   
            <a href="{% url 'make_order' pk=pizza.id %}" class="btn btn-primary btn-lg">Order</a>                     
        </div>
    </div>
   {% testimonial_tag pizza %}

   {% if tform.errors %}
    {% for field in tform %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
     {% endfor %}
    {% endif %}

   <form method="post" class="uniForm" action="{% url 'detail' slug=pizza.name_slug %}">
    {% crispy tform %}
   </form>

{% endblock %}

{% block footer %}
    <h3>This is footer</h3>
{% endblock %}