{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load thumbnail %}

{% block content %}
    <h1>Order list</h1>
    <div class="row">
        
        <div class="col-md-12">
          <h2>{{ pizza }}</h2>
            <div class="row">
           

                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Created at</th>
                            </tr>
                        </thead>
                        {% for o in orders %}
                        <tbody>
                            <tr>
                                <th scope="row">#{{ o.id }}</th>
                                <td>{{ o.pizza.thumb }}</td>
                                <td>{{ o.pizza.name }}</td>
                                <td><a href="{% url 'pay_order' order_id=o.id %}">Pay</a></td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>

            </div>

        </div>
        
    </div>
{% endblock %}

{% block footer %}
    <h3>This is footer</h3>
{% endblock %}